streamlit
psycopg2-binary
matplotlib
requests
google.auth
python-dotenv
pandas
google-api-python-client
apache-airflow-providers-google
apache-airflow-providers-common-sql
apache-airflow-providers-postgres
google-auth 
google-auth-oauthlib 
google-auth-httplib2
apache-airflow
datetime
pandas
urllib3
traceback2
huggingface_hub
transformers